html { height: 100%; overflow: hidden; }
body {
	margin: 0;
	height: 100%;
	overflow: hidden;

	text-align: center;	
	font-family: Verdana;

}

div {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: none;
	height: 100%;
	width: 100%;

}

	/* Writing CSS */

/* ZERO */
.slide0 {
	background-color: #E1F5C4;

}

.slide0 > p:nth-child(1) {
	margin: -0.25em 0 0 0;
	font-size: 25em;
	font-family: serif;
	color: #FF4E50;

}
.slide0 > p:nth-child(2) {
	font-size: 2.5em;
	color: #FF4E50;

}

/* ONE */
.slide1 {
	background-color: #555;
	padding: 0 4em 0 4em;

}

.slide1 > p  {
	margin: 3.2em 0 0 0;

	color: #E9E9E9;
	font-size: 1.8em;
	text-shadow: 50px 50px 10px black;

}
.slide1 span {
	color: #FF9900;
	font-size: 2em;

}

/* TWO */
.slide2 {
	background-color: #4DBCE9;

}

.slide2 > p {
	font-familt: Garamond, Helvetica, serif;
	font-size: 2.5em;

}

.slide2 > p > span {
	color: #D1E751;

}

.slide2 > div {
	width: 65%;
	height: 12em;
	margin: 0 auto;
	display: inline-block;

	background-color: #F8ECC2;
	color: #333;
	font-family: 'Shadows Into Light', cursive;
	font-size: 4em;

}

/* THREE */
.slide3 {
	padding: 0 2em 0 2em;
	background-color: #EDE5E2;

}

.slide3 > p {
	font-size: 2em;
	font-family: 'Lora', serif;
	text-shadow: 0 0 3px #222;

}

.slide3 > p > span {
	font-size: 3em;
	color: #ED146F;

}

.slide3 > p:nth-child(3) {
	font-size: 4em;

}

/* FOUR */
.slide4 p {
	font-size: 1.6em;
	font-family: 'Roboto Condensed', sans-serif;

}

.slide4 span {
	margin: 0;
	font-size: 2em;
	font-family: serif;
	color: #4C49A2;

}

.slide4 div {
	display: inline-block;
	height: auto;
	width: 60%;
	background-color: #B8DC3C;
	color: #A31A48;
	text-align: left;
	text-shadow: 5px 5px 5px orange;
	padding: 0 0 0 2.5em;
	font-size: 2.2em;

}

/* FIVE */
.slide5 {
	padding: 0 10em 0 10em;
	background-color: #000408;
	
}

.slide5 p {
	color: #0CCD58;
	font-family:'Ubuntu', sans-serif;
	font-size: 5em;

}
.slide5 p:nth-child(1) {
	font-size: 2.6em;

}

.slide5 span {
	color: DarkRed;

}

/* SIX */
.slide6 {
	background-color: #E88C43;
	padding: 0 2em 0 2em;
	
	font-family: 'Nunito', sans-serif;
	color: #412B46;

}

.slide6 > p:nth-child(1) {
	font-size: 1.9em;
	color: black;

}

.slide6 > span p {
	font-size: 4em;

}

.slide6 > span p span {
	-webkit-animation: six 5s linear 2s infinite alternate;

}

/* SEVEN */
.slide7 {
	padding: 0 3em 0 3em;
	background-color: #F2C45A;

}

.slide7 img {
	width: 100%;
	border: 3px solid #8C2318;

}

/* EIGHT */
.slide8 {
	background-color: #F9FC4D;

	color: #C01600;
	font-size: 1.7em;

}

.slide8 p:nth-child(2), .slide8 p:nth-child(3) {
	margin: 0 0 0 40%;
	font-size: 9em;
	width: 0.5em;

	color: black;
	text-align: left;

	-webkit-border-top-right-radius: 50px;

}

.slide8 p:nth-child(2) { background-color: red; border-left: 2px solid DarkRed; }
.slide8 p:nth-child(3) { background-color: lightgreen; width: 1em; border-left: 2px solid green; border-bottom: 2px solid green;}

/* NINE */
.slide9 {
	font-size: 1.7em;

}

.slide9 {
	margin: 1em 0 0 0;

}

.slide9 div {
	display: inline-block;
	width: 15em;
	height: 15em;
	margin: 0 auto;
	border: 15px solid black;
	border-radius: 15em;
	-webkit-animation: nine 5s linear 2s infinite alternate;

}

/* LAST SLIDE */
.slide10 {
	background-color: #CFEFFA;

	padding: 0 5em 0 5em;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	color: #244686;

}

.slide10 p:nth-child(2) {
	font-size: 1.5em;

}

.slide10 p span {
	color: #945B92;
	font-family: serif;
	font-size: 4em;
	text-shadow: 0px 0px 20px #333;

}

/* Animation */
@-webkit-keyframes six {
 0% {
	color: green;	
 }
 25% {
	color: yellow;
 }
 50% {
	color: purple;
 }
 75% {
	color: red;
 }
 100% {
	color: green;
 }

}

@-webkit-keyframes nine {
 0% {
	-webkit-transform: rotateY(0deg) rotateX(0deg);
 }
 50% {
	-webkit-transform: rotateY(25deg) rotateX(45deg);
 }
 100% {
	-webkit-transform: rotateY(0deg) rotateX(0deg);
 }

}
