html { height: 100%; }

body {
	margin: 0;
	height: 90%;

	background-color: black; 
	font-family: Garamond, serif;
	font-size: 12em;
	text-align: center;
	text-shadow: 0 0 10px #333;

}

div {
	position: absolute;
	width: 50%;
	height: 100%;

}

#back {
	background-color: red;

}

#forward {
	left: 50%;
	background-color: orange;

}
